body{

  background-image: linear-gradient(blue, lightblue);
/* background-image: url(https://www.watersport-tv.nl/content/31400/news/clnt/3692223_1_org.JPG);
background-position: relative;
background-size: 100%; */
}
#3B578E
#DB2323
#D7DEED
#F7F9FF
#201C44
.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #00FFFF; /* lightblue */
  color: white;
}

li{
  background-color:#3B578E;
  border-radius:5px 5px 5px 5px;
  display:inline-grid;
  border:red 2px solid;
  list-style-type: lower-latin;
  width:15%;
}
ul,a{
  text-decoration:none;
  padding: 20px;
}
li:hover{
  background-color:red;
}
header{
  font-size:100%;
  font-family: Georgia,"times new Roman", times, serif;
  border: 10px maroon double;
  border-radius:10px 10px 10px 10px;
  border-color: black;
  width:99%;
  height:auto;
  background-color:#D7DEED;
  text-align: center;
}
nav{

  display: inline-block;
  font-family: Georgia,"times new Roman", times, serif;
  text-align: center;
  border: 10px maroon double;
  border-radius: 10px 10px 10px 10px;
  width:99%;
  height: auto;
  background-color:#F7F9FF;
}

 section{
  font-family: Georgia,"times new Roman", times, serif;
  border: 10px maroon double;
  border-radius: 10px 10px 10px 10px;
  width:99%;
  height:auto;
  background-color:lightblue;
}

 footer{
   font-family: Georgia,"times new Roman", times, serif;
   border: 10px maroon double;
   border-radius: 10px 10px 10px 10px;
   width:99%;
   height:auto;
   background-color:#00ABE8;

}

p {
  font-family: Georgia,"times new Roman", times, serif;
  text-align: justify;
  text-decoration:underline;
  text-align: center;
}

h1{
  text-shadow: 1px 1px 1px 1px blue;
  font-family: Georgia,"times new Roman", times, serif;
  text-align: justify;
  text-decoration:underline;
  text-align: center;
}

#link{
  border-radius: 5px 10px 5px 10px;
  text-align: center;


}
