body{

    background-color:#E0E0E0;
/* background-image: url(https://www.watersport-tv.nl/content/31400/news/clnt/3692223_1_org.JPG);
background-position: relative;
background-size: 100%; */
}


li{
  background-color:#07969C;
  border-radius:5px 5px 5px 5px;
  display:inline-grid;
  border:red 2px solid;
  list-style-type: lower-latin;
  width:24%;
}
ul,a{
  text-decoration:none;
  padding: 20px;
}
li:hover{
  background-color:red;
}
header{
  font-size:100%;
  font-family: Georgia,"times new Roman", times, serif;
  border: 10px maroon double;
  border-radius:10px 10px 10px 10px;
  border-color: black;
  width:99%;
  height:auto;
  background-color:#45FFD3;
  text-align: center;
}
nav{

  display: inline-block;
  font-family: Georgia,"times new Roman", times, serif;
  text-align: center;
  border: 10px maroon double;
  border-radius: 10px 10px 10px 10px;
  width:99%;
  height: auto;
  background-color:lightblue;
}

 section{
  font-family: Georgia,"times new Roman", times, serif;
  border: 10px maroon double;
  border-radius: 10px 10px 10px 10px;
  width:99%;
  height:auto;
  background-color:lightblue;
}

 footer{
   font-family: Georgia,"times new Roman", times, serif;
   border: 10px maroon double;
  border-radius: 10px 10px 10px 10px;
   width:99%;
   height:auto;
   background-color:#6FA8CF;
}

p {
  font-family: Georgia,"times new Roman", times, serif;
  text-align: justify;
  text-decoration:underline;
  text-align: center;
}

h1{
  text-shadow: 1px 1px 1px 1px bleu;
  font-family: Georgia,"times new Roman", times, serif;
  text-align: justify;
  text-decoration:underline;
  text-align: center;
}
